body {
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.night-sky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #040a13; 
    z-index: -1;
    overflow: hidden; 
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #ffffff; 
    opacity: 0; 
    border-radius: 50%; 
    animation: twinkle 1s infinite alternate, fly 10s linear infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fly {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(150%); 
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avatar {
    text-align: center;
}

@keyframes pulse {
    0%, 100% {
        border-color: rgb(255, 77, 77); /* Яркий красный цвет */
        transform: scale(1);
    }
    50% {
        border-color: rgb(206, 59, 59); /* Темный красный цвет */
        transform: scale(1.05); /* Увеличение на 5% */
    }
}

.avatar img {
    width: 150px; 
    border-radius: 50%;
    border: 3px solid rgb(255, 77, 77); /* Яркий красный цвет */
    margin-bottom: 10px;
    animation: pulse 1.5s infinite; /* Применение анимации */
}

.username {
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 50px;
    padding: 0;
    z-index: 1;
}

.namecolor {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #3371f7, #4f9efe);
}

.a-tag-nan-bio {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #3b31f7, #8453ee, #e93391);
}

.date {
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 40px;
    padding: 0;
}

.username::after, .date::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none; 
    mix-blend-mode: screen;
    z-index: -1;
    transition: transform 0.5s ease-out;
}

.container:hover .username::after, .container:hover .date::after {
    transform: translate(-50%, -50%);
}

.day, .week, .hours, .min, .secs {
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    margin-left: 20px;
}

.day {
    margin-top: 70px;
}

.week {
    margin-top: 90px;
}

.hours {
    margin-top: 110px;
}

.min {
    margin-top: 130px;
}

.secs {
    margin-top: 150px;
}

.date {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    position: absolute;
    margin-top: 2%;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.social-links a:hover {
    transform: scale(1.1); 
}

.social-links img {
    width: 40px;
}

/* Мобильная адаптация */
@media (max-width: 600px) {
    .avatar img {
        width: 100px; /* Уменьшаем размер аватарки */
    }

    .username {
        font-size: 30px; /* Уменьшаем размер шрифта для имени */
    }

    .date {
        font-size: 25px; /* Уменьшаем размер шрифта для даты */
    }

    .day, .week, .hours, .min, .secs {
        font-size: 20px; /* Уменьшаем размер шрифта для других элементов */
    }
    
    .container {
        padding: 20px; /* Добавляем отступы для лучшего отображения на мобильных */
    }
}
